body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 2rem 2rem 2rem 2rem;
}

h1 {
  font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: grey;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem 2rem 2rem 2rem;
  width: 20rem;

}

button {
  border: none;
  background-color: #3D9970;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

button:hover {
  box-shadow: 0rem 0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.about-container {
  max-width: 35rem;
  margin: 0 auto;
}

article {
  margin: 0rem 2rem 2rem 2rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  min-width: 10rem;
}

p {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(88, 88, 88);
}

.img-container {
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media screen and (min-width: 750px) {
  .about-container {
    display: flex;
    width: 100%;
  }

  article {
    flex: 1;
    margin-right: 1rem;
    margin-left: -4rem;
  }

  .img-container {
    flex: 1;
    margin: 0;
    margin-left: 1rem;
    margin-right: -4rem;
    margin-bottom: 2rem;
  }

  header {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  }

  @media screen and (min-width: 850px) {

    body {
      overflow-y: hidden;
    }

    .about-container {
      margin: 0 auto;
      max-width: 40rem;
    }

    header {
      margin: 0 auto;
      margin-top: 6rem;
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav {
      margin: 0 auto;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
    }
